* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.root {
    min-height: 100vh;
    background: #240B36;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title, .error-message, .label, input, button {
    font-family: 'ADLaM Display', cursive;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

input, button {
    font-size: 1.4rem;
}

input {
    border: 1px solid black;
}

button {
    color: #fff;
    background: #D81159;
    border: none;
    transition: all 0.3s ease;
}

button:hover {
    color: #1d1d1d;
    background-color: #fff;
}

.title {
    background: #D81159;
    color: #fff;
    font-size: 2.5rem;
    width: 300px;
}

.error-message {
    font-size: 1.5rem;
    color: red;
}

.label {
    font-size: 1.5rem;
    color: #fff;
}
 
.color-picker {
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.field {
    width: 502px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #fff;
}

.row {
    display: flex;
}

.square {
    border: 1px solid #000;
    background: #fff;
}

